common:bazel8 --incompatible_resolve_select_keys_eagerly
common:bazel9 --incompatible_resolve_select_keys_eagerly

common:prof-libunwind --//settings/flags:enable_xmalloc
common:prof-libunwind --//settings/flags:enable_prof=libunwind

common:prof-libgcc --//settings/flags:enable_xmalloc
common:prof-libgcc --//settings/flags:enable_prof=libgcc

common:prof-gcc --//settings/flags:enable_xmalloc
common:prof-gcc --//settings/flags:enable_prof=gcc
